{% extends "base.html" %}
{% block content %}

<h3 class="center-align">About</h3>
<div class="row">
    <h2>Preamble</h2>
Anas ibn Malik reported: A man said, “O Messenger of Allah ﷺ, should I tie my camel and trust in Allah, or should I leave her untied and trust in Allah?” The Prophet, ﷺ, said, “Tie her and put your trust in Allah.”
    <p>Core Values
        <ol>
            <li>Slowly but continuously</li>
            <li>Giving our whole in the journey</li>
            <li>Not compromise quality for quantity</li>
            <li>Nothing to lose, only rewards</li>
            <li>Keep moving forwards</li>
            <li>The Almighty the results awards</li>
        </ol>
    </p>

<h2>Purpose of this Document</h2>
The purpose of this document is to present the “How To Tie A Camel” (HTTAC) project by defining its objectives, the company’s vision, the mobile App key features, and the subsequent initiatives to be launched.

<h2>Company’s Vision</h2>
Our main objective is to provide Muslims around the world with a convenient app that will help them organize their time around good deeds, create powerful habits and reinforce the practice by relevant reminders from Qur’an, Hadiths and other sources. By doing so, we aim at a large-scale improvement of the believers’ affairs using modern worlds tools and convenience.
As the company will grow in size, we also aim to create a well established charity organization that will be involved in the day to day lives of Muslims around the world and provide the community with a reliable source of perennial and institutionalized development. 

<h2>Product Vision Statement</h2>
The app will provide a Positive Habit Tracker (PHT) and Negative Habit Tracker (NHT) associated with quotes from Qur’an, Hadiths and other sources to motivate the user pursuing the journey toward being a better version of one’s self. At a later stage of the development roadmap, we aim at providing a more comprehensive product adding more features and dependencies such as tools and technique to learn, prayer time, hadith. Of the aspect we want to develop would be to have a social aspect build within the App. This would help us grow the mutual help of the users to achieve their objectives in a mentor/mentee system.

<h2>List of Features</h2>
    <p>As such, the App will be a platform encompassing several core features. During the first step (1),
    we will focus on developing the Positive Habit Tracker (PHT) so that the user will be able to record his good deeds.
    Each completion will send a quote reminding the user of the benefits of his actions to motivate him performing them continuously.
    We will then (2) create a Negative Habit Tracker (NHT) as refraining from doing evil is a major step towards holistic improvement.
    Aware of the importance of the NHT, we think that this should not be the priority, as the user must first build confidence in himself before tackling those very issues.
    As a third step (3), we will expand the data base of the different deeds that are encouraged and discouraged according to Islam, expanding to information related to
    habits, brain, nutrition to reinforce the data base with modern society’s knowledge. While the format is not definitive, we foresee a knowledge tree but also consider YouTube video, small video podcast and articles. 
    Knowing the team has limited knowledge on the matters, we will create an open-source model, inviting the community to contribute with their own knowledge and motivation. 
    By doing so, we hope to engage the community in providing high quality material for the benefit of the greater good. 
    To sum up those steps, (4) we will launch a pilot allocating virtual points for each PHT and NHT tasks. 
    Once those five fundamentals steps will be implemented, we will consider the core features completed.</p>

    <p>It will now become necessary to create a more social environment within the platform. 
    We will first (5) create a common space where people could share their success stories, give general tips or ask questions.
    We also want a mentoring system which aim will be to (6) be able to pair new comers with more advanced users -taking into account the scores. 
    This will be gender and localization based to ensure compliance to Islamic regulation and maximise the benefits thanks to the proximity. 
    This could be developed in (7) creating a shared calendar/event platform where people could organize further activities to perform good deeds or simply be in good company. 
    Depending on the project’s success, we may be able to help funding those events. 
    We will also provide (8) the users with the option to make donations in a distinctive space. 
    This will give us the chance to give more visibility on the different problematics experienced around the world and thus raise awareness.</p>

</div>

{% endblock %}