{% extends "base.html" %}
{% block content %}

<section class="">
    <h3 class="center-align h3_section">Home</h3>
    <div class="row center-align">
            <h4 class="center-align">
                The Project
            </h4>
        <div class="col m6 s12">
            <p> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et tristique ex, quis facilisis nulla. 
                Donec nec ligula vel mi volutpat finibus. Nullam in venenatis libero. Sed eleifend quis justo non dictum. In gravida ligula in feugiat tempus. 
                Nunc fringilla dui cursus viverra ultricies. Sed vitae gravida lacus, quis lobortis dui. Mauris posuere mauris ut justo dapibus, in cursus justo interdum. 
                Aliquam eu velit at enim lacinia venenatis in fermentum nunc. Praesent at ultricies arcu. Donec vel erat bibendum, pellentesque sem a, blandit tellus. 
                Aliquam mauris elit, aliquam eu sapien sed, maximus laoreet augue.
                Vivamus vehicula dolor maximus, ornare ipsum ut, gravida metus. Donec vehicula ligula ut dui consequat mollis. 
                Quisque luctus dui ut lorem elementum, non elementum est ornare. Sed quis euismod nunc, sit amet gravida leo.
            </p>
        </div>
        <div class="col m6 s12">
            <p> 
                Nunc pharetra lectus non efficitur varius. Nam id nisl est. Quisque ultrices leo eu rutrum interdum. 
                Fusce nibh libero, commodo et lobortis non, ultrices sit amet velit. Sed euismod eleifend leo, nec imperdiet libero vestibulum vitae. 
                Quisque ornare purus magna, semper pellentesque ex pulvinar eget. Sed fermentum feugiat venenatis. 
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Quisque dolor arcu, tincidunt finibus venenatis tempor, consequat in magna. Donec placerat ex lectus, ac efficitur ipsum convallis ac. 
                Aenean pretium, felis id volutpat auctor, nunc eros tempor justo, vitae dictum ante dui non tortor. 
                Curabitur vel justo finibus ante finibus dignissim pharetra bibendum dui. 
            </p>
        </div>
        <div class="col m12 center-align">
            <a href="{{ url_for('about') }}" class="light-blue darken-1 btn ">Read More</a>
        </div>
    </div>
</section>
<section class="">
    <div class="row">
      <div class="col m2 hide-on-small-only left">
        <img src="{{ url_for('static', filename='images/Home_pic.jpeg') }}" id="home_pic">
      </div>
      <div class="col m10 s12 right">
            <h4 class="center-align">
                The team
            </h4>
            <p> 
                Nunc pharetra lectus non efficitur varius. Nam id nisl est. Quisque ultrices leo eu rutrum interdum. 
                Fusce nibh libero, commodo et lobortis non, ultrices sit amet velit. Sed euismod eleifend leo, nec imperdiet libero vestibulum vitae. 
                Quisque ornare purus magna, semper pellentesque ex pulvinar eget. Sed fermentum feugiat venenatis. 
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Quisque dolor arcu, tincidunt finibus venenatis tempor, consequat in magna. Donec placerat ex lectus, ac efficitur ipsum convallis ac. 
                Aenean pretium, felis id volutpat auctor, nunc eros tempor justo, vitae dictum ante dui non tortor. 
                Curabitur vel justo finibus ante finibus dignissim pharetra bibendum dui. 
            </p>
      </div>
        <div class="col m12 center-align">
                <a href="{{ url_for('contactUs') }}" class="light-blue darken-1 btn ">Read More</a>
        </div>
    </div>
</section>
<section>
    <!-- For each review in database -->
    <div class="row center-align">
     {% for feed in feedback %}
        <div class="col l4 m6 s12 review_home center-align">
        <!-- If interested value is true -->
        {% if feed.interested == true %}
            <h4>{{ feed.name }}</h4>
            <p class="green"> 
                {{ feed.review }}  
            </p>
        <!-- If interested value is false -->
            {% else %}
            <h4>{{ feed.name }}</h4>
            <p class="red"> 
                {{ feed.review }}  
            </p>
            {% endif %}
        </div>
        {% endfor %} 
        <!-- End for each review in database -->
        <div class="col m12 center-align">
            <a href="{{ url_for('reviews') }}" class="light-blue darken-1 btn ">Read More</a>
        </div>
    </div>
</section>
    
    {% for feed in feedback %}
        {{ feed.name }}<br>
        {{ feed.surename }}<br>
        {{ feed.email }}<br>
        {{ feed.interested }}<br>
        {{ feed.pledged }}<br>
        {{ feed.amount }}<br>
        {{ feed.review }}<br><br>
    {% endfor %}    
{% endblock %}