{% extends "base.html" %}
{% block content %}

<section class="">
    <h3 class="center-align h3_section">Home</h3>
    <div class="row center-align">
            <h4 class="center-align">
                The Project
            </h4>
        <div class="col m6 s12">
            <p>Our main objective is to provide Muslims around the world with a convenient app that will help them organize their time around good deeds,
            create powerful habits and reinforce the practice by relevant reminders from Qur’an, Hadiths and other sources. 
            By doing so, we aim at a large-scale improvement of the believers’ affairs using modern worlds tools and convenience.</p>

            <p>As the company will grow in size, we also aim to create a well established charity organization that will be involved in the day to day lives of Muslims 
            around the world and provide the community with a reliable source of perennial and institutionalized development.</p>
        </div>
        <div class="col m6 s12">
            <p>The app will provide a Positive Habit Tracker (PHT) and Negative Habit Tracker (NHT) associated with quotes from Qur’an, Hadiths 
            and other sources to motivate the user pursuing the journey toward being a better version of one’s self. 
            At a later stage of the development roadmap, we aim at providing a more comprehensive product adding more features and dependencies such as 
            tools and technique to learn, prayer time, hadith. Of the aspect we want to develop would be to have a social aspect build within the App. 
            This would help us grow the mutual help of the users to achieve their objectives in a mentor/mentee system.</p> 
            
        </div>
    </div>
    <div class="col m12 center-align margbot">
            <a href="{{ url_for('about') }}" class="light-blue darken-1 btn ">Read More</a>
    </div>
</section>
<section class="">
    <div class="row">
      <div class="col m2 hide-on-small-only left">
        <img src="{{ url_for('static', filename='images/Home_pic.jpeg') }}" id="home_pic">
      </div>
      <div class="col m10 s12 right">
            <h4 class="center-align">
                The team
            </h4>
            <p> 
                Nunc pharetra lectus non efficitur varius. Nam id nisl est. Quisque ultrices leo eu rutrum interdum. 
                Fusce nibh libero, commodo et lobortis non, ultrices sit amet velit. Sed euismod eleifend leo, nec imperdiet libero vestibulum vitae. 
                Quisque ornare purus magna, semper pellentesque ex pulvinar eget. Sed fermentum feugiat venenatis. 
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Quisque dolor arcu, tincidunt finibus venenatis tempor, consequat in magna. Donec placerat ex lectus, ac efficitur ipsum convallis ac. 
                Aenean pretium, felis id volutpat auctor, nunc eros tempor justo, vitae dictum ante dui non tortor. 
                Curabitur vel justo finibus ante finibus dignissim pharetra bibendum dui. 
            </p>
        </div>
    </div>
    <div class="col m12 center-align margbot">
        <a href="{{ url_for('contactUs') }}" class="light-blue darken-1 btn ">Read More</a>
    </div>
</section>
<section>
    <div class="row center-align">
    <!-- For each review in database -->
     {% for feed in feedback[0:2] %}
        <!-- If interested value is true -->
        {% if feed.interested == true %}
        <div class="col m5 s12 review_home left">
            <div class="row">
                <div class="col s10">                    
                    <i class="fas fa-star"></i>
                    {{ feed.name }}
                    <span class="recommends_home">recommends HHTAC</span>  
                    {% if feed.pledged == true %}
                    <span class="recommends_home">, and is willing to pledged!</span>
                    {% else %}
                        !
                    {% endif %}                  
                </div>
                {% if session.user|lower == feed.created_by|lower %}
                <div class="col s2">
                    <a href="{{ url_for('reviewEdit', feed_id=feed._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                </div>
                {% endif %}
            </div>
            <p class="green"> 
                {{ feed.review }}  
            </p>
        
        <!-- If interested value is false -->
            {% else %}
        <div class="col m5 s12 review_home right">
            <div class="row">
                <div class="col s10">
                    <h4>{{ feed.name }}</h4>
                </div>
                {% if session.user|lower == feed.created_by|lower %}
                <div class="col s2">
                    <a href="{{ url_for('reviewEdit', feed_id=feed._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                </div>
                {% endif %}
            </div>
            <p class="red"> 
                {{ feed.review }}  
            </p>
            {% endif %}
        </div>
        {% endfor %} 
    </div>
    <!-- End for 2 first review in database -->
  
    <div class="center-align">
            <a href="{{ url_for('reviews') }}" class="light-blue darken-1 btn ">Read More</a>
    </div>
</section>
    
   
{% endblock %}