{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Edit Review</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('reviewEdit', feed_id=feed._id) }}">
        <div class="card-panel grey lighten-5">
            <div class="row">
        <!-- Name -->
            <div class="input-field col m6 s12">
                <i class="fas fa-user prefix light-blue-text text-darken-4"></i>
                <input id="name" name="name" type="text" minlength="2" maxlength="15"
                     class="validate" value="{{ feed.name }}" required>
                <label for="name">Name*</label>
            </div>
        <!-- Surename -->
            <div class="input-field col m6 s12">
                <i class="fas fa-users prefix light-blue-text text-darken-4"></i>
                <input id="surename" name="surename" type="text"
                    value="{{ feed.surename }}" minlength="2" maxlength="15" class="validate">
                <label for="surename">Surename</label>
            </div>
        <!-- email -->
            <div class="input-field col s12">
                <i class="fas fa-envelope prefix light-blue-text text-darken-4"></i>
                <input id="email" name="email" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                     value="{{ feed.email }}" class="validate">
                <label for="email">Email*</label>
            </div>  
        <!-- Interested -->
            <div class="switch col m6 s12">
                <label for="interested">
                {% if feed.interested == True %}
                    <input id="interested" name="interested" type="checkbox" checked>
                {% else %}
                    <input id="interested" name="interested" type="checkbox">
                {% endif %}
                <span class="lever"></span>
                Interested?
                </label>
            </div>
            <!-- Pledged -->
            <div class="switch col m6 s12">
                <label for="pledged">
                {% if feed.pledged == True %}
                    <input id="pledged" name="pledged" type="checkbox" checked>
                {% else %}
                    <input id="pledged" name="pledged" type="checkbox">
                {% endif %}
                <span class="lever "></span>
                Wanna pledge?
                </label>
            </div>
            <!-- Pledged Amount-->
            <div class="input-field col s12">
                <i class="fas fa-euro-sign prefix light-blue-text text-darken-4"></i>
                <input id="amount" name="amount" type="number" class="validate"  value="{{ feed.amount }}">
                <label for="amount">Amount</label>
            </div>
        <!-- Review -->
            <div class="input-field col m12">
                <i class="fas fa-comment-dots prefix light-blue-text text-darken-4"></i>
                <textarea id="review" name="review" type="text" requried class="validate materialize-textarea">
                    {{- feed.review -}}
                </textarea>
                <label for="review">Your Review*</label>
            </div>  
        <!-- Send -->
            <a href="{{ url_for('home') }}" class="btn-large red text-shadow col s4">
                Cancel <i class="fas fa-times-circle"></i>
            </a>
            <button type="submit" class="col s8 btn-large light-blue darken-4 text-shadow">
                Edit <i class="fas fa-edit"></i>
            </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}