{% extends "base.html" %}
{% block content %}

 <h3 class="center-align">Reviews</h3>
<section>
    <div class="row center-align">
        <div class="col l4 m12 review card-panel">
            Review 1
            <p> 
                Nunc pharetra lectus non efficitur varius. Nam id nisl est. Quisque ultrices leo eu rutrum interdum. 
                Fusce nibh libero, commodo et lobortis non, ultrices sit amet velit. Sed euismod eleifend leo, nec imperdiet libero vestibulum vitae. 
            </p>
        </div>
        <div class="col l4 m12 review card-panel">
            Review 2
            <p> 
                Nunc pharetra lectus non efficitur varius. Nam id nisl est. Quisque ultrices leo eu rutrum interdum. 
                Fusce nibh libero, commodo et lobortis non, ultrices sit amet velit. Sed euismod eleifend leo, nec imperdiet libero vestibulum vitae. 
                Quisque ornare purus magna, semper pellentesque ex pulvinar eget. Sed fermentum feugiat venenatis. 
            </p>
        </div>
        <div class="col l4 m12review card-panel">
            Review 3
            <p> 
                Nunc pharetra lectus non efficitur varius. Nam id nisl est. Quisque ultrices leo eu rutrum interdum. 
                Quisque ornare purus magna, semper pellentesque ex pulvinar eget. Sed fermentum feugiat venenatis. 
            </p>
        </div>
        <div class="col l4 m12 review card-panel">
            Review 4
            <p> 
                Fusce nibh libero, commodo et lobortis non, ultrices sit amet velit. Sed euismod eleifend leo, nec imperdiet libero vestibulum vitae. 
                Quisque ornare purus magna, semper pellentesque ex pulvinar eget. Sed fermentum feugiat venenatis. 
            </p>
        </div>
        <div class="col l4 m12 review card-panel">
            Review 5
            <p> 
                Nunc pharetra lectus non efficitur varius. Nam id nisl est. Quisque ultrices leo eu rutrum interdum. 
                Fusce nibh libero, commodo et lobortis non, ultrices sit amet velit. Sed euismod eleifend leo, nec imperdiet libero vestibulum vitae. 
            </p>
        </div>
        <div class="col l4 m12 review card-panel">
            Review 6
            <p> 
                Nunc pharetra lectus non efficitur varius. Nam id nisl est. Quisque ultrices leo eu rutrum interdum. 
                Fusce nibh libero, commodo et lobortis non, ultrices sit amet velit. Sed euismod eleifend leo, nec imperdiet libero vestibulum vitae. 
                Quisque ornare purus magna, semper pellentesque ex pulvinar eget. Sed fermentum feugiat venenatis. 
            </p>
        </div>
        <div class="col l4 m12 review card-panel">
            Review 7
            <p> 
                Nunc pharetra lectus non efficitur varius. Nam id nisl est. Quisque ultrices leo eu rutrum interdum. 
                Quisque ornare purus magna, semper pellentesque ex pulvinar eget. Sed fermentum feugiat venenatis. 
            </p>
        </div>
        <div class="col l4 m12 review card-panel">
            Review 8
            <p> 
                Fusce nibh libero, commodo et lobortis non, ultrices sit amet velit. Sed euismod eleifend leo, nec imperdiet libero vestibulum vitae. 
                Quisque ornare purus magna, semper pellentesque ex pulvinar eget. Sed fermentum feugiat venenatis. 
            </p>
        </div>
        <div class="col m12 center-align">
            <a href="{{ url_for('reviews') }}" class="light-blue darken-1 btn ">Read More</a>
        </div>
    </div>
</section>

{% endblock %}