{% extends "base.html" %}
{% block content %}

 <h3 class="center-align">Reviews</h3>
<section>
    <div class="row center-align ">
        {% for feed in feedback %}
        <ul class="collapsible col l4 m12 review card-panel">
            <li>
                <div class="collapsible-header">
                    <i class=""></i>{{ feed.name }}
                </div>
                <div class="collapsible-body">
                    {{ feed.review }}<br>
                    {{ feed.interested }}<br>
                    {{ feed.pledged }}<br>
                    {{ feed.amount }}<br>
                </div>
            </li>
        </ul>
    {% endfor %}

    


        <ul class="collapsible col l4 m12 review card-panel">
            <li>
                <div class="collapsible-header"><i class=""></i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>
        <ul class="collapsible col l4 m12 review card-panel">
            <li>
                <div class="collapsible-header"><i class=""></i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>
        <ul class="collapsible col l4 m12 review card-panel">
            <li>
                <div class="collapsible-header"><i class=""></i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>
        <ul class="collapsible col l4 m12 review card-panel">
            <li>
                <div class="collapsible-header"><i class=""></i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>
        <ul class="collapsible col l4 m12 review card-panel">
            <li>
                <div class="collapsible-header"><i class=""></i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>
    </div>
</section>

    {% for feed in feedback %}
        {{ feed.name }}<br>
        {{ feed.surename }}<br>
        {{ feed.email }}<br>
        {{ feed.interested }}<br>
        {{ feed.pledged }}<br>
        {{ feed.amount }}<br>
        {{ feed.review }}<br><br>
    {% endfor %} 

{% endblock %}