{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add Review</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('reviewAdd') }}">
        <div class="card-panel grey lighten-5">
            <div class="row">
        <!-- Name -->
            <div class="input-field col m6 s12">
                <i class="fas fa-user prefix light-blue-text text-darken-4"></i>
                <input id="name" name="name" type="text" minlength="2" maxlength="15" required class="validate">
                <label for="name">Name*</label>
            </div>
        <!-- Surname -->
            <div class="input-field col m6 s12">
                <i class="fas fa-users prefix light-blue-text text-darken-4"></i>
                <input id="surname" name="surname" type="text" minlength="2" maxlength="15" class="validate">
                <label for="surname">Surname</label>
            </div>
        <!-- email -->
            <div class="input-field col s12">
                <i class="fas fa-envelope prefix light-blue-text text-darken-4"></i>
                <input id="email" name="email" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="validate">
                <label for="email">Email*</label>
            </div>  
        <!-- Interested -->
            <div class="switch col m6 s12">
                <label for="interested">
                <input id="interested" name="interested" type="checkbox">
                <span class="lever"></span>
                Interested?
                </label>
            </div>
            <!-- Pledged -->
            <div class="switch col m6 s12">
                <label for="pledged">
                <input id="pledged" name="pledged" type="checkbox">
                <span class="lever "></span>
                Wanna pledge?
                </label>
            </div>
            <!-- Pledged Amount-->
            <div class="input-field col s12">
                <i class="fas fa-euro-sign prefix light-blue-text text-darken-4"></i>
                <input id="amount" name="amount" type="number" class="validate">
                <label for="amount">Amount</label>
            </div>
        <!-- Review -->
            <div class="input-field col m12">
                <i class="fas fa-comment-dots prefix light-blue-text text-darken-4"></i>
                <textarea id="review" name="review" type="text" requried class="validate materialize-textarea"></textarea>
                <label for="review">Your Review*</label>
            </div>  
        <!-- Send -->
            <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                Send <i class="fas fa-sign-in-alt"></i>
            </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}